<template>
    <v-row justify="center" class="pa-2">
      <v-col cols="12" sm="6" class="mt-2">
        <v-card elevation="5">
          <v-card-actions >
            <v-btn color="primary" fab x-small> 1 </v-btn>
            <v-card-text class=" text-h6"> Detalle de entrega</v-card-text>
          </v-card-actions>

          <v-row class="pa-3">
            <v-col cols="4" v-for="(item, i) in 3" :key="i">
              <v-card class="tarjetas-pago shadowCard" >
                <v-card-text class="font-weight-bold"> 
                   Edgar Tamez 
                </v-card-text>
                <v-card-subtitle class="pt-0"> 
                   San Carlos #366, Col. La Ermita, Santa Catarina. N.L
                </v-card-subtitle>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <!-- DETALLE DE LA COMPRA -->
      <v-col cols="12" sm="4">
        <v-card flat class="">
          <v-card-actions>
            <v-text-field
            label ="Ingresa tu cupon" 
            outlined dense hide-details 
            prepend-icon="mdi-sticker-emoji"
          />
          <v-btn 
            class="mx-2" color="success"
            @click="anadir_cupon_promocional()"  
          ><v-icon > mdi-magnify </v-icon> </v-btn>
          </v-card-actions>  
        </v-card>
        
        <v-card flat>
          <v-card-text> Tú orden</v-card-text>

          <v-list dense>
            <v-list-item v-for="(carrito, j) in 3" :key="j" class="py-0">
              <v-list-item-action>
                <v-btn icon text x-small color="info" class="caption font-weight-medium"> 1 </v-btn>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="caption font-weight-medium"> Iphone 12</v-list-item-title>
              </v-list-item-content>
              <v-list-item-content>
                <v-list-item-title class="caption font-weight-medium"> -10%</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-list-item-title class="caption font-weight-medium">$850</v-list-item-title>
              </v-list-item-action>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>

          <v-list dense>
              <v-list-item class="py-0">
                <v-list-item-content>
                  <v-list-item-title > Subtotal</v-list-item-title>
                </v-list-item-content>
                <v-list-item-content class="text-right">
                  <v-list-item-title > $2,500</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item class="py-0">
                <v-list-item-content>
                  <v-list-item-title > Envío </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content class="text-right" >
                  <v-list-item-title > $100 </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item class="py-0" >
                <v-list-item-content>
                  <v-list-item-title > Cupon promocional </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content class="text-right">
                  <v-list-item-title > 10%</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>

            <v-divider></v-divider>
            <v-list dense>
              <v-list-item class="py-0">
                <v-list-item-content>
                  <v-list-item-title class="font-weight-black text-h6"> Total </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content class="text-right">
                  <v-list-item-title class="font-weight-black text-h6"> $2,340 </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
        </v-card>

      </v-col>
    </v-row>
</template>

<style scoped>
  .tarjetas-pago{
    background: rgba(96, 95, 165, 0.30);
    margin: 2px 2px 2px 2px;
  }
</style>